<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>File Organizer</title>
</head>
<body>
    <div class="container">
        <h2>a simple and efficient file organizer</h2>
        <form action="{{url_for('index')}}" method="post">
            <label for="folder-path">Upload Folder Path</label>
            <input required type="text" id="folder-path" name="folder-path">
            <button type="submit" class="submit-btn">Organize Files</button>
        </form>
    </div>
</body>
</html>